{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
    {{ super() }}
{% endblock %}

{% block page_content %}
    <div class="row panel" >
         <h3>Adicionar Computador</h3>
    </div>
    <form method="POST" action="{{ url_for('auth.add_computer') }}">
        {{ form.csrf_token }}
       <div class="row panel">
            <div class="form-group text-center col-xs-6 col-sm-6 col-md-4 col-lg-4" style="padding-left:5px; padding-top:20px">
              <fieldset class="form-field">
                  {{ form.equip_user.label }}
                  {{ form.equip_user }}
              </fieldset>
              <fieldset class="form-field">
                  {{ form.patrimony.label }}
                  {{ form.patrimony(size=20) }}
              </fieldset>
              <fieldset class="form-field">
                  {{ form.brand.label }}
                  {{ form.brand }}
              </fieldset>
              <fieldset class="form-field">
                  {{ form.model.label }}
                  {{ form.model }}
              </fieldset>
              <fieldset class="form-field">
                  {{ form.position.label }}
                  {{ form.position }}
              </fieldset>
              <fieldset class="form-field">
                  {{ form.general_description.label }}
                  {{ form.general_description }}
              </fieldset>
              <fieldset class="form-field">
                  {{ form.computer_name.label }}
                  {{ form.computer_name }}
              </fieldset>
              <fieldset class="form-field">
                  {{ form.computer_so.label }}
                  {{ form.computer_so }}
              </fieldset>
              <fieldset class="form-field">
                  {{ form.computer_cpu.label }}
                  {{ form.computer_cpu }}
              </fieldset>
              <fieldset class="form-field">
                  {{ form.computer_memory.label }}
                  {{ form.computer_memory }}
              </fieldset>
            </div>
        </div>
        <div class="panel-footer" style="background-color: white; border-top:0 ">
            <div class="text-right col-md-1">
                <a href="{{ url_for('auth.equips_list') }}"><button type="button" class="btn btn-md btn-danger">Cancelar</button></a>
            </div>
            <div class="text-right col-md-offset-9 col-md-2">
                <input class="btn btn-md btn-primary" type="submit" value="Registrar">
            </div>
        </div>
        {% for category, message in get_flashed_messages(with_categories=true) %}
            {% if category=='fill' %}
                <div class="alert alert-danger text-center">
                <button type="button" class="close" data-dismiss="alert"></button>
                    <h4>
                        {{ message }}
                    </h4>
                </div>
            {% endif %}
        {% endfor %}
    </form>

{% endblock %}

{% block scripts %}

{% endblock %}