{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
    {{ super() }}
{% endblock %}

{% block page_content %}
    <div class="row panel" >
         <h3>Adicionar Novo Usuário</h3>
    </div>
    <form method="POST" action="{{ url_for('auth.user_add') }}">
        {{ form.csrf_token }}
       <div class="row panel">
            <div class="form-group col-xs-6 col-sm-6 col-md-4 col-lg-12" style="padding-left:5px; padding-top:20px">
                  <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                      {{ form.user_name.label }}
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        {{ form.user_name(class="form-control", default="Selecione") }}
                      </div>
                  </div>
                  <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                      {{ form.user_team_id.label }}
                      <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                          {{ form.user_team_id(class="form-control") }}
                      </div>
                  </div>
            </div>
       </div>
        <div class="panel-footer" style="background-color: white; border-top:0 ">
            <div class="text-right col-md-1">
                <a href="{{ url_for('auth.users_list') }}"><button type="button" class="btn btn-md btn-danger">Cancelar</button></a>
            </div>
            <div class="text-right col-md-offset-9 col-md-2">
                <input class="btn btn-md btn-primary" type="submit" value="Registrar">
            </div>
        </div>
        {% for category, message in get_flashed_messages(with_categories=true) %}
            {% if category=='fill' %}
                <div class="alert alert-danger text-center">
                <button type="button" class="close" data-dismiss="alert"></button>
                    <h4>
                        {{ message }}
                    </h4>
                </div>
            {% endif %}
        {% endfor %}
    </form>

{% endblock %}

{% block scripts %}

{% endblock %}