{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
    {{ super() }}
{#    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">#}
{#    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>#}
{#    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>#}
{#    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
{% endblock %}

{% block page_content %}
    <div class="row panel" >
         <h3>Adicionar Equipamento Genérico</h3>
    </div>
    <form method="POST" action="{{ url_for('auth.add_equip') }}">
        {{ form.csrf_token }}
        {{ wtf.quick_form(form) }}
    </form>

{% endblock %}

{% block scripts %}

{% endblock %}