{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
    {{ super() }}
{% endblock %}

{% block page_content %}
    <div class="row panel" >
         <h3>Criar Novo Histórico</h3>
    </div>
    <form method="POST" action="{{ url_for('auth.add_history') }}">
        {{ form.csrf_token }}
       <div class="row panel">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left:5px; padding-top:20px">
                  <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      {{ form.history_user.label }}
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        {{ form.history_user(class="form-control",  value=current_user.name) }}
                      </div>
                  </div>
                  <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      {{ form.history_equipment.label }}
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                        {{ form.history_equipment(class="form-control") }}
                      </div>
                  </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left:5px">
                  <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      {{ form.date_receive.label }}
                      <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-thumbs-down"></i></span>
{#                          {{ form.problem_description(class="form-control") }}#}
                          {{ form.date_receive( maxlength="400", cols="auto", rows="7",
                          class="col-xs-10 col-sm-10 col-md-12 col-lg-12"|safe,
                          placeholder="Min 10 e Max 370 Caracteres...", **{'data-ls-module':'charCounter'}) }}
                      </div>
                  </div>
                  <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      {{ form.observation.label }}
                      <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-thumbs-up"></i></span>
{#                          {{ form.fix_description(class="form-control") }}#}
                          {{ form.observation( maxlength="400", cols="auto", rows="7",
                          class="col-xs-10 col-sm-10 col-md-12 col-lg-12"|safe,
                          placeholder="Min 10 e Max 370 Caracteres...", **{'data-ls-module':'charCounter'}) }}
                      </div>
                  </div>
            </div>
       </div>
        <div class="panel-footer" style="background-color: white; border-top:0 ">
            <div class="text-right col-md-1">
                <a href="{{ url_for('auth.list_history') }}"><button type="button" class="btn btn-md btn-danger">Cancelar</button></a>
            </div>
            <div class="text-right col-md-offset-9 col-md-2">
                <input class="btn btn-md btn-primary" type="submit" value="Criar">
            </div>
        </div>
        {% for category, message in get_flashed_messages(with_categories=true) %}
            {% if category=='fill' %}
                <div class="alert alert-danger text-center">
                <button type="button" class="close" data-dismiss="alert"></button>
                    <h4>
                        {{ message }}
                    </h4>
                </div>
            {% endif %}
        {% endfor %}
    </form>

{% endblock %}

{% block scripts %}

{% endblock %}