{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block page_content %}
    <div class="row panel" >
        <h3>Chamados</h3>
    </div>
    <div class="row panel">
        <div class="col-md-2 h3" style="margin-top: 50px">
            <a href="{{ url_for('auth.equips_list' ) }}">
                <button class="btn btn-primary">
                          Equipamentos
                </button>
            </a>
        </div>
        <div class="col-md-2 h3" style="margin-top: 50px">
            <a href="{{ url_for('auth.users_list' ) }}">
                <button class="btn btn-info">
                          Usuários
                </button>
            </a>
        </div>
        <div class="col-md-2">
            <a href="{{ url_for('auth.calls_list' ) }}">
                <button class="btn btn-success">
                          Chamados
                </button>
            </a>
        </div>
    </div>

    <table id="data" class="display">
        <thead>
            <tr>
                <th>ID do Chamado</th>
                <th>Usuário</th>
                <th>Equipamento</th>
                <th>Data de Abertura</th>
                <th>Data de Fechamento</th>
                <th>Solução</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/auth/api/calls',
        serverSide: true,
        columns: [
          {data: 'call_id'},
          {data: 'call_user_id'},
          {data: 'call_equipment_id'},
          {data: 'call_open'},
          {data: 'call_close'},
          {data: 'call_solution', orderable: false}
        ],
      });
    });
  </script>
{% endblock %}