{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block page_content %}
    <div class="row panel" >
        <h3>Equipamentos</h3>
    </div>
    <div class="row panel">
        <div class="col-md-2">
            <a href="{{ url_for('auth.equips_list' ) }}">
                <button class="btn btn-primary">
                          Equipamentos
                </button>
            </a>
        </div>
        <div class="col-md-2 h3" style="margin-top: 25px">
            <a href="{{ url_for('auth.users_list' ) }}">
                <button class="btn btn-default">
                          Usuários
                </button>
            </a>
        </div>
        <div class="col-md-2 h3" style="margin-top: 25px">
            <a href="{{ url_for('auth.calls_list' ) }}">
                <button class="btn btn-default">
                          Chamados
                </button>
            </a>
        </div>
        <div class="col-md-offset-4 col-md-2 h3 text-right" style="margin-top: 19px">
            <a href="{{ url_for('auth.choose_equip_type' ) }}">
                <button class="btn btn-success">
                          Adicionar
                </button>
            </a>
        </div>
    </div>
     <div class="row panel">
        <div class="col-md-2">
            <a href="{{ url_for('auth.computers_list' ) }}">
                <button class="btn btn-primary">
                          Computadores
                </button>
            </a>
        </div>
        <div class="col-md-2 h3" style="margin-top: 19px">
            <a href="{{ url_for('auth.monitors_list' ) }}">
                <button class="btn btn-default">
                          Monitores
                </button>
            </a>
        </div>
        <div class="col-md-2 h3" style="margin-top: 19px">
            <a href="{{ url_for('auth.fones_list' ) }}">
                <button class="btn btn-default">
                          Fones
                </button>
            </a>
        </div>
        <div class="col-md-2 h3" style="margin-top: 19px">
            <a href="{{ url_for('auth.mics_list' ) }}">
                <button class="btn btn-default">
                          Microfones
                </button>
            </a>
        </div>
        <div class="col-md-2 h3" style="margin-top: 19px">
            <a href="{{ url_for('auth.webcams_list' ) }}">
                <button class="btn btn-default">
                          Webcams
                </button>
            </a>
        </div>
     </div>

    {% block table_content %}
        <table id="data" class="display">
            <thead>
                <tr>
                    <th>Equip.</th>
                    <th>Patrimônio</th>
                    <th>Nome</th>
                    <th>Usuário</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>CPU</th>
                    <th>Memória</th>
                    <th>S.O.</th>
                    <th>Mac Address</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    {% endblock %}

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
          $('#data').DataTable({
            ajax: '/auth/api/computers',
            serverSide: true,
            columns: [
              {data: 'computer_id'},
              {data: 'patrimony', orderable: false},
              {data: 'computer_name'},
              {data: 'computer_user'},
              {data: 'brand'},
              {data: 'model'},
              {data: 'computer_cpu', orderable: false},
              {data: 'computer_memory'},
              {data: 'computer_so'},
              {data: 'computer_macaddress', orderable: false},
              {data: "sdfsdf", "defaultContent":
                  "<button class='btn-warning' onclick='edititem();'>Editar</button> ", orderable: false }
            ],
          });
        });
    </script>

{% endblock %}