{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
    {{ super() }}
{% endblock %}

{% block page_content %}
    <div class="row panel" >
        <h3>Detalhes do Computador</h3>
    </div>
    <div class="row panel">
        <div class="form-group col-xs-6 col-sm-6 col-md-4 col-lg-12" style="padding-left:5px; padding-top:20px">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label>Número do Patrimônio</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input readonly class="form-control" value="{{ equip_detail.patrimony }}"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label>Registro do Usuário</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input readonly class="form-control" value="{{ equip_detail.equip_user_id }}"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label>Marca</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                    <input readonly class="form-control" value="{{ equip_detail.brand }}"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label>Posição na Sala</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
                    <input readonly class="form-control" value="{{ equip_detail.position }}"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label>Modelo</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-exclamation-sign"></i></span>
                    <input readonly class="form-control" value="{{ equip_detail.model }}"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label>Data de Registro</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-plane"></i></span>
                    <input readonly class="form-control" value="{{ equip_detail.equip_registry }}"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label>Descrição Geral</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                    <input readonly class="form-control" value="{{ equip_detail.general_description }}"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label>Nome do Computador</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                    <input readonly class="form-control" value="{{ equip_detail.computer_name }}"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label>Sistema Operacional</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-modal-window"></i></span>
                    <input readonly class="form-control" value="{{ equip_detail.computer_so }}"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label>Processador</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-tasks"></i></span>
                    <input readonly class="form-control" value="{{ equip_detail.computer_cpu }}"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label>BIOS</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-folder-close"></i></span>
                    <input readonly class="form-control" value="{{ equip_detail.computer_bios }}"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label>Memória</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-transfer"></i></span>
                    <input readonly class="form-control" value="{{ equip_detail.computer_memory }}"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label>Hard Disc</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-cd"></i></span>
                    <input readonly class="form-control" value="{{ equip_detail.computer_hd }}"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label>Placa de Vídeo</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-hd-video"></i></span>
                    <input readonly class="form-control" value="{{ equip_detail.computer_vga }}"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label>Mac Address</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                    <input readonly class="form-control" value="{{ equip_detail.computer_macaddress }}"/>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <label>Capacidade de Memória</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-scale"></i></span>
                    <input readonly class="form-control" value="{{ equip_detail.computer_capacity_memory }}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer" style="background-color: white; border-top:0 ">
            <div class="text-right col-md-offset-10 col-md-2">
                <button onclick="window.history.go(-1); return false;" type="button" class="btn btn-md btn-danger">Voltar</button>
            </div>
        </div>
    {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category=='fill' %}
            <div class="alert alert-danger text-center">
                <button type="button" class="close" data-dismiss="alert"></button>
                <h4>
                    {{ message }}
                </h4>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block scripts %}

{% endblock %}