{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block page_content %}
    <div class="row panel text-left" >
         <h1 class="btn btn-lg btn-success">{{ title }}</h1>
    </div>
   <div class="row panel">
        <div class="btn-group-lg">
           <div class="text-center">
               <p class="btn btn-primary h1">{{ title }} com Sucesso!</p>
           </div>
        </div>
   </div>
    <div class="panel-footer row" style="background-color: white; border-top:0 ">
        <div class="text-right col-md-offset-9 col-md-1">
            {% if title=='Chamado' %}
                <a href="{{ url_for('auth.calls_list') }}">
                    <button type="button" class="btn btn-md btn-danger">
                        Voltar
                    </button>
                </a>
            {% elif title=='Novo Usuário' %}
                <a href="{{ url_for('auth.users_list') }}">
                    <button type="button" class="btn btn-md btn-danger">
                        Voltar
                    </button>
                </a>
            {% else %}
                <a href="{{ url_for('auth.equips_list') }}">
                    <button type="button" class="btn btn-md btn-danger">
                        Voltar
                    </button>
                </a>
            {% endif %}
        </div>
    </div>
    {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category=='fill' %}
            <div class="alert alert-danger text-center">
            <button type="button" class="close" data-dismiss="alert"></button>
                <h4>
                    {{ message }}
                </h4>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block scripts %}

{% endblock %}