{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block page_content %}
    <div class="row panel" >
        <h3>Equipamentos</h3>
    </div>
    <div class="row panel">
        <div class="col-md-2">
            <a href="{{ url_for('auth.equips_list' ) }}">
                <button class="btn btn-primary">
                          Equipamentos
                </button>
            </a>
        </div>
        <div class="col-md-2 h3" style="margin-top: 50px">
            <a href="{{ url_for('auth.users_list' ) }}">
                <button class="btn btn-info">
                          Usuários
                </button>
            </a>
        </div>
        <div class="col-md-2 h3" style="margin-top: 50px">
            <a href="{{ url_for('auth.calls_list' ) }}">
                <button class="btn btn-success">
                          Chamados
                </button>
            </a>
        </div>
    </div>
     <div class="row panel">
        <div class="col-md-2 h3" style="margin-top: 50px">
            <a href="{{ url_for('auth.computers_list' ) }}">
                <button class="btn btn-primary">
                          Computadores
                </button>
            </a>
        </div>
        <div class="col-md-2 h3" style="margin-top: 50px">
            <a href="{{ url_for('auth.monitors_list' ) }}">
                <button class="btn btn-primary">
                          Monitores
                </button>
            </a>
        </div>
        <div class="col-md-2 h3" style="margin-top: 50px">
            <a href="{{ url_for('auth.fones_list' ) }}">
                <button class="btn btn-primary">
                          Fones
                </button>
            </a>
        </div>
        <div class="col-md-2">
            <a href="{{ url_for('auth.mics_list' ) }}">
                <button class="btn btn-primary">
                          Microfones
                </button>
            </a>
        </div>
        <div class="col-md-2 h3" style="margin-top: 50px">
            <a href="{{ url_for('auth.webcams_list' ) }}">
                <button class="btn btn-primary">
                          Webcams
                </button>
            </a>
        </div>
     </div>

    {% block table_content %}
        <table id="data" class="display">
            <thead>
                <tr>
                    <th>ID do Monitor</th>
                    <th>Usuário</th>
                    <th>Patrimônio</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Data de Registro</th>
                    <th>Tamanho</th>
                    <th>Resolução</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    {% endblock %}

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
          $('#data').DataTable({
            ajax: '/auth/api/monitors',
            serverSide: true,
            columns: [
              {data: 'equip_id'},
              {data: 'equip_user_id'},
              {data: 'patrimony', orderable: false},
              {data: 'brand'},
              {data: 'model'},
              {data: 'equip_registry', orderable: false},
              {data: 'monitor_size'},
              {data: 'monitor_resolution'}
            ],
          });
        });
    </script>

{% endblock %}