{% extends "bootstrap/base.html" %}

{% block html_attribs %}
    lang="pt-br"
{% endblock %}

{% block metas %}
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block title %}Hardware_Report{% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='positivo_ico.gif') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='positivo_ico.gif') }}" type="image/x-icon">
    {{ super() }}
{% endblock %}

{% block navbar %}
    {% if current_user.is_anonymous %}
        <div class="navbar navbar-inverse" role="navigation">
    {% elif not current_user.is_anonymous and not current_user.is_admin() %}
        <div class="navbar navbar-inverse" role="navigation" style="background-color: cornflowerblue">
    {% elif current_user.is_admin() and current_user.is_admin() %}
        <div class="navbar navbar-inverse" role="navigation" style="background-color: crimson">
    {% else %}
        <div class="navbar navbar-inverse" role="navigation" style="background-color: blueviolet">
        <div class="h1">Deu ruim</div>
    {% endif %}
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: white" href="{{ url_for('main.index') }}">Hardware_Report</a>
        </div>
        <div  class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" style="color: white" data-toggle="dropdown"><h5>{{ current_user.name|truncate(20) }}<b class="caret"></b></h5></a>
                    <ul class="dropdown-menu">
                        <li><a class="btn bg-danger" href="{{ url_for('auth.logout') }}">Sair</a></li>
                    </ul>
                </li>
                {% else %}
                    <li><a class="btn btn-primary" style="color: white" href="{{ url_for('auth.login') }}">Entrar</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endwith %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
